@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

#customButton {
    font-family: 'Manrope';
    font-weight: 500;
    width: 50%;
    padding: 10px;
    background-color: #1A233A;
    outline: none;
    border: none;
    font-size: 20px;
    color: white;
    border-radius: 100px;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}

#customButton:hover {
    width: 80%;
    scale: 105%;
}