@import url('https://fonts.cdnfonts.com/css/cabinet-grotesk');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#login-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100dvw;
    height: 100dvh;
    background-color: #0B0F19;
    background-image: url('../../assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#login-component {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 45px;
    width: 40%;
    background-color: rgba(11, 15, 25, 0.9);
    border: 3px #1A233A solid;
    border-radius: 24px;
    
}

#login-component .title {
    color: white;
    font-family: 'Cabinet Grotesk';
    font-size: 2.7rem;
    font-weight: 600;
}

#login-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#login-buttons {
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}